style.
    footer {
        background-color: #343a40;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    footer p {
        color: #fff
    }
footer#footer
    .container
        p Copyright (c) Bob