head
    title Bob's Site 
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/app.js')
    style.
        #main {
            min-height: 800px;
            background-color: #adadad;
        }
