style.
    .games{
        padding: 10px;
    }
    .reviews{
        padding: 10px;
    }
    .videos{
        padding: 10px;
    }
    .navbar {
        justify-content: inherit;
        display: block;
    }
    .navbar > * {
        display: inline-block;
    }
    .search-container {
        margin-bottom: 0;
    }

div.navbar.navbar-dark.bg-dark.shadow-sm
    a(href="/")
        img(src="/images/bob.svg" width="90" height="50")
    .games
        a(href="/games/browse/1" style="color: white") Games
    .reviews
        a(href="/reviews/browse/1" style="color: white") Reviews
    .videos
        a(href="/videos/browse/1" style="color: white") Videos
    form.search-container.float-right(action='/games/search' )
        .form-group.form-inline
            input.form-control(type='text', name='gamename', placeholder='Search games, reviews and videos...', size = '50')
            input.form-control(type='submit', value='Search') 

            
        
                
        