style.
    footer {
        background-color: #343a40;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    footer p {
        color: #fff
    }
    #copyright {
        color: #a00;
    }
footer#footer
    .container
        p#copyright Copyright (c) Bob
        p hi