style.

div.navbar.navbar-dark.bg-dark.shadow-sm
    ul.col-md-12.row
        a(href="/")
            img(src="/images/bob.svg" width="90" height="50")
        a(href="#")
            span.register Register 